%YAML 1.1
---
id: asdf://stsci.edu/datamodels/roman/manifests/datamodels-1.0
extension_uri: asdf://stsci.edu/datamodels/roman/extensions/datamodels-1.0
title: Datamodels extension 1.0
description: |-
  A set of tags for serializing STScI Roman datamodels.
asdf_standard_requirement:
  gte: 1.1.0
tags:
# Object Modules
- tag_uri: asdf://stsci.edu/datamodels/roman/tags/guidewindow-1.0.0
  schema_uri: asdf://stsci.edu/datamodels/roman/schemas/guidewindow-1.0.0
  title: Guide window schema
  description: |-
    Guide window schema
- tag_uri: asdf://stsci.edu/datamodels/roman/tags/ramp-1.0.0
  schema_uri: asdf://stsci.edu/datamodels/roman/schemas/ramp-1.0.0
  title: Ramp schema
  description: |-
    Ramp schema
- tag_uri: asdf://stsci.edu/datamodels/roman/tags/ramp_fit_output-1.0.0
  schema_uri: asdf://stsci.edu/datamodels/roman/schemas/ramp_fit_output-1.0.0
  title: Ramp fit output schema
  description: |-
    Ramp fit output schema
- tag_uri: asdf://stsci.edu/datamodels/roman/tags/wfi_science_raw-1.0.0
  schema_uri: asdf://stsci.edu/datamodels/roman/schemas/wfi_science_raw-1.0.0
  title: Roman WFI Raw Science Data datamodel
  description: |-
    Basic Roman Raw Science
- tag_uri: asdf://stsci.edu/datamodels/roman/tags/wfi_image-1.0.0
  schema_uri: asdf://stsci.edu/datamodels/roman/schemas/wfi_image-1.0.0
  title: Wfi level 2 image information
  description: |-
    Wfi level 2 image information
- tag_uri: asdf://stsci.edu/datamodels/roman/tags/wfi_mosaic-1.0.0
  schema_uri: asdf://stsci.edu/datamodels/roman/schemas/wfi_mosaic-1.0.0
  title: Wfi level 3 mosiac information
  description: |-
    Wfi level 3 mosaic information
- tag_uri: asdf://stsci.edu/datamodels/roman/tags/wfi_mode-1.0.0
  schema_uri: asdf://stsci.edu/datamodels/roman/schemas/wfi_mode-1.0.0
  title: Roman WFI Instrument Mode
  description: |-
    Roman WFI Instrument
# Metadata Modules
- tag_uri: asdf://stsci.edu/datamodels/roman/tags/exposure-1.0.0
  schema_uri: asdf://stsci.edu/datamodels/roman/schemas/exposure-1.0.0
  title: Exposure information
  description: |-
    Exposure information
- tag_uri: asdf://stsci.edu/datamodels/roman/tags/program-1.0.0
  schema_uri: asdf://stsci.edu/datamodels/roman/schemas/program-1.0.0
  title: Program information
  description: |-
    Program information
- tag_uri: asdf://stsci.edu/datamodels/roman/tags/observation-1.0.0
  schema_uri: asdf://stsci.edu/datamodels/roman/schemas/observation-1.0.0
  title: Observation information
  description: |-
    Observation information
- tag_uri: asdf://stsci.edu/datamodels/roman/tags/ephemeris-1.0.0
  schema_uri: asdf://stsci.edu/datamodels/roman/schemas/ephemeris-1.0.0
  title: Ephemeris information
  description: |-
    Ephemeris information
- tag_uri: asdf://stsci.edu/datamodels/roman/tags/visit-1.0.0
  schema_uri: asdf://stsci.edu/datamodels/roman/schemas/visit-1.0.0
  title: Visit information
  description: |-
    Visit information
- tag_uri: asdf://stsci.edu/datamodels/roman/tags/photometry-1.0.0
  schema_uri: asdf://stsci.edu/datamodels/roman/schemas/photometry-1.0.0
  title: Photometry information
  description: |-
    Photometry information
- tag_uri: asdf://stsci.edu/datamodels/roman/tags/source_detection-1.0.0
  schema_uri: asdf://stsci.edu/datamodels/roman/schemas/source_detection-1.0.0
  title: Source catalog for TweakReg
  description: |-
    Source catalog for TweakReg
- tag_uri: asdf://stsci.edu/datamodels/roman/tags/coordinates-1.0.0
  schema_uri: asdf://stsci.edu/datamodels/roman/schemas/coordinates-1.0.0
  title: Coordinate frame information
  description: |-
    Coordinate frame information
- tag_uri: asdf://stsci.edu/datamodels/roman/tags/aperture-1.0.0
  schema_uri: asdf://stsci.edu/datamodels/roman/schemas/aperture-1.0.0
  title: Aperture information
  description: |-
    Aperture information
- tag_uri: asdf://stsci.edu/datamodels/roman/tags/pointing-1.0.0
  schema_uri: asdf://stsci.edu/datamodels/roman/schemas/pointing-1.0.0
  title: Spacecraft Pointing information
  description: |-
    Spacecraft Pointing information
- tag_uri: asdf://stsci.edu/datamodels/roman/tags/target-1.0.0
  schema_uri: asdf://stsci.edu/datamodels/roman/schemas/target-1.0.0
  title: Target information
  description: |-
    Target information
- tag_uri: asdf://stsci.edu/datamodels/roman/tags/velocity_aberration-1.0.0
  schema_uri: asdf://stsci.edu/datamodels/roman/schemas/velocity_aberration-1.0.0
  title: Velocity aberration information
  description: |-
    Velocity aberration information
- tag_uri: asdf://stsci.edu/datamodels/roman/tags/wcsinfo-1.0.0
  schema_uri: asdf://stsci.edu/datamodels/roman/schemas/wcsinfo-1.0.0
  title: Wcsinfo information
  description: |-
    Wcsinfo information
- tag_uri: asdf://stsci.edu/datamodels/roman/tags/guidestar-1.0.0
  schema_uri: asdf://stsci.edu/datamodels/roman/schemas/guidestar-1.0.0
  title: Guidestar information
  description: |-
    Guidestar information
- tag_uri: asdf://stsci.edu/datamodels/roman/tags/cal_step-1.0.0
  schema_uri: asdf://stsci.edu/datamodels/roman/schemas/cal_step-1.0.0
  title: Calibration Step status information
  description: |-
    Calibration Step status information
- tag_uri: asdf://stsci.edu/datamodels/roman/tags/resample-1.0.0
  schema_uri: asdf://stsci.edu/datamodels/roman/schemas/resample-1.0.0
  title: Resample information
  description: |-
    Resample information
# Reference Modules
- tag_uri: asdf://stsci.edu/datamodels/roman/tags/reference_files/dark-1.0.0
  schema_uri: asdf://stsci.edu/datamodels/roman/schemas/reference_files/dark-1.0.0
  title: Dark reference schema
  description: |-
    Dark reference schema
- tag_uri: asdf://stsci.edu/datamodels/roman/tags/reference_files/distortion-1.0.0
  schema_uri: asdf://stsci.edu/datamodels/roman/schemas/reference_files/distortion-1.0.0
  title: Distortion reference schema
  description: |-
    Distortion reference schema
- tag_uri: asdf://stsci.edu/datamodels/roman/tags/reference_files/flat-1.0.0
  schema_uri: asdf://stsci.edu/datamodels/roman/schemas/reference_files/flat-1.0.0
  title: Flat reference schema
  description: |-
    Flat field information
- tag_uri: asdf://stsci.edu/datamodels/roman/tags/reference_files/gain-1.0.0
  schema_uri: asdf://stsci.edu/datamodels/roman/schemas/reference_files/gain-1.0.0
  title: Gain reference schema
  description: |-
    Gain reference schema
- tag_uri: asdf://stsci.edu/datamodels/roman/tags/reference_files/inverselinearity-1.0.0
  schema_uri: asdf://stsci.edu/datamodels/roman/schemas/reference_files/inverselinearity-1.0.0
  title: Inverse linearity correction reference schema
  description: |-
    Inverse linearity correction reference schema
- tag_uri: asdf://stsci.edu/datamodels/roman/tags/reference_files/ipc-1.0.0
  schema_uri: asdf://stsci.edu/datamodels/roman/schemas/reference_files/ipc-1.0.0
  title: IPC kernel reference schema
  description: |-
    IPC kernel reference schema
- tag_uri: asdf://stsci.edu/datamodels/roman/tags/reference_files/linearity-1.0.0
  schema_uri: asdf://stsci.edu/datamodels/roman/schemas/reference_files/linearity-1.0.0
  title: Linearity correction reference schema
  description: |-
    Linearity correction reference schema
- tag_uri: asdf://stsci.edu/datamodels/roman/tags/reference_files/mask-1.0.0
  schema_uri: asdf://stsci.edu/datamodels/roman/schemas/reference_files/mask-1.0.0
  title: DQ Mask reference schema
  description: |-
    DQ Mask reference schema
- tag_uri: asdf://stsci.edu/datamodels/roman/tags/reference_files/pixelarea-1.0.0
  schema_uri: asdf://stsci.edu/datamodels/roman/schemas/reference_files/pixelarea-1.0.0
  title: Pixel area reference schema
  description: |-
    Pixel area reference schema
- tag_uri: asdf://stsci.edu/datamodels/roman/tags/reference_files/readnoise-1.0.0
  schema_uri: asdf://stsci.edu/datamodels/roman/schemas/reference_files/readnoise-1.0.0
  title: Read noise reference schema
  description: |-
    Read noise reference schema
- tag_uri: asdf://stsci.edu/datamodels/roman/tags/reference_files/refpix-1.0.0
  schema_uri: asdf://stsci.edu/datamodels/roman/schemas/reference_files/refpix-1.0.0
  title: Reference pixel correction reference schema
  description: |-
    Reference pixel correction reference schema
- tag_uri: asdf://stsci.edu/datamodels/roman/tags/reference_files/saturation-1.0.0
  schema_uri: asdf://stsci.edu/datamodels/roman/schemas/reference_files/saturation-1.0.0
  title: Saturation reference schema
  description: |-
    Saturation reference schema
- tag_uri: asdf://stsci.edu/datamodels/roman/tags/reference_files/superbias-1.0.0
  schema_uri: asdf://stsci.edu/datamodels/roman/schemas/reference_files/superbias-1.0.0
  title: Super-bias reference schema
  description: |-
    Super-bias reference schema
- tag_uri: asdf://stsci.edu/datamodels/roman/tags/reference_files/wfi_img_photom-1.0.0
  schema_uri: asdf://stsci.edu/datamodels/roman/schemas/reference_files/wfi_img_photom-1.0.0
  title: WFI imaging photometric flux conversion data model
  description: |-
    WFI imaging photometric flux conversion data model
# Misc
- tag_uri: asdf://stsci.edu/datamodels/roman/tags/associations-1.0.0
  schema_uri: asdf://stsci.edu/datamodels/roman/schemas/associations-1.0.0
  title: Association table
  description: |-
    Association table
- tag_uri: asdf://stsci.edu/datamodels/roman/tags/cal_logs-1.0.0
  schema_uri: asdf://stsci.edu/datamodels/roman/schemas/cal_logs-1.0.0
  title: Calibration log messages
  description: |-
    Calibration log message
- tag_uri: asdf://stsci.edu/datamodels/roman/tags/ref_file-1.0.0
  schema_uri: asdf://stsci.edu/datamodels/roman/schemas/ref_file-1.0.0
  title: Calibration reference file names.
  description: |-
    Calibration reference file names.
# Tagged Scalars
- tag_uri: asdf://stsci.edu/datamodels/roman/tags/calibration_software_version-1.0.0
  schema_uri: asdf://stsci.edu/datamodels/roman/schemas/tagged_scalars/calibration_software_version-1.0.0
  title: Calibration software version
  description: |-
    Calibration software version number
- tag_uri: asdf://stsci.edu/datamodels/roman/tags/filename-1.0.0
  schema_uri: asdf://stsci.edu/datamodels/roman/schemas/tagged_scalars/filename-1.0.0
  title: Name of the file
  description: |-
    Name of the file
- tag_uri: asdf://stsci.edu/datamodels/roman/tags/file_date-1.0.0
  schema_uri: asdf://stsci.edu/datamodels/roman/schemas/tagged_scalars/file_date-1.0.0
  title: Date this file was created (UTC)
  description: |-
    Date this file was created (UTC)
- tag_uri: asdf://stsci.edu/datamodels/roman/tags/model_type-1.0.0
  schema_uri: asdf://stsci.edu/datamodels/roman/schemas/tagged_scalars/model_type-1.0.0
  title: Type of data model
  description: |-
    Type of data model
- tag_uri: asdf://stsci.edu/datamodels/roman/tags/origin-1.0.0
  schema_uri: asdf://stsci.edu/datamodels/roman/schemas/tagged_scalars/origin-1.0.0
  title: Organization responsible for creating file
  description: |-
    Organization responsible for creating file
- tag_uri: asdf://stsci.edu/datamodels/roman/tags/prd_software_version-1.0.0
  schema_uri: asdf://stsci.edu/datamodels/roman/schemas/tagged_scalars/prd_software_version-1.0.0
  title: S&OC PRD version number used in data processing
  description: |-
    S&OC PRD version number used in data processing
- tag_uri: asdf://stsci.edu/datamodels/roman/tags/sdf_software_version-1.0.0
  schema_uri: asdf://stsci.edu/datamodels/roman/schemas/tagged_scalars/sdf_software_version-1.0.0
  title: SDF software version number
  description: |-
    SDF software version number
- tag_uri: asdf://stsci.edu/datamodels/roman/tags/telescope-1.0.0
  schema_uri: asdf://stsci.edu/datamodels/roman/schemas/tagged_scalars/telescope-1.0.0
  title: Telescope used to acquire the data
  description: |-
    Telescope used to acquire the data
# SSC data models
- tag_uri: asdf://stsci.edu/datamodels/roman/tags/msos_stack-1.0.0
  schema_uri: asdf://stsci.edu/datamodels/roman/schemas/msos_stack-1.0.0
  title: MSOS Stack Level 3 Schema
  description: |-
    Level 3 schema for SSC's MSOS stack products
...
