# automatically requests pull request reviews for files matching the given pattern; the last match takes precedence

*       @spacetelescope/rad-maintainers @WilliamJamieson
# Add Kim, Kimberly DuPrie <kduprie@stsci.edu>, add jbrookens@stsci.edu
src/rad/resources/schemas/*.yaml  @kdupriestsci @jbrookens
