name: tests

on:
  push:
    branches:
      - main
      - "*"
    tags:
      - "*"
  pull_request:
  schedule:
    # Weekly Monday 9AM build
    - cron: "0 9 * * 1"
  workflow_dispatch:

jobs:
  test:
    uses: OpenAstronomy/github-actions-workflows/.github/workflows/tox.yml@99401c364fa51c9c507d3cd6d272049278ac0b2c # v2.4.0
    with:
      envs: |
        - linux: py311-xdist
        - linux: py312-xdist
        - linux: py313-xdist
        - linux: py314-cov-xdist
          coverage: codecov
        - macos: py314-xdist

  roman_datamodels:
    uses: OpenAstronomy/github-actions-workflows/.github/workflows/tox.yml@99401c364fa51c9c507d3cd6d272049278ac0b2c # v2.4.0
    with:
      envs: |
        - linux: roman_datamodels-xdist

  romancal:
    uses: OpenAstronomy/github-actions-workflows/.github/workflows/tox.yml@99401c364fa51c9c507d3cd6d272049278ac0b2c # v2.4.0
    with:
      envs: |
        - linux: py313-romancal
