name: tests

on:
  push:
    branches:
      - main
      - "*"
    tags:
      - "*"
  pull_request:
  schedule:
    # Weekly Monday 9AM build
    - cron: "0 9 * * 1"
  workflow_dispatch:

jobs:
  test:
    uses: OpenAstronomy/github-actions-workflows/.github/workflows/tox.yml@28e947497bed4d6ec3fa1d66d198e95a1d17bc63 # v2.2.1
    with:
      envs: |
        - linux: py311-xdist
        - linux: py312-xdist
        # `tox` does not currently respect `requires-python` versions when creating testing environments;
        # if this breaks, add an upper pin to `requires-python` and revert this py3 to the latest working version
        - linux: py314-xdist
          python-version: '3.14-dev'
        - linux: py3-cov-xdist
          coverage: codecov
        - macos: py3-xdist

  roman_datamodels:
    uses: OpenAstronomy/github-actions-workflows/.github/workflows/tox.yml@28e947497bed4d6ec3fa1d66d198e95a1d17bc63 # v2.2.1
    with:
      envs: |
        - linux: roman_datamodels-xdist

  romancal:
    uses: OpenAstronomy/github-actions-workflows/.github/workflows/tox.yml@28e947497bed4d6ec3fa1d66d198e95a1d17bc63 # v2.2.1
    with:
      envs: |
        - linux: romancal
